.share{
    width: 80%;
    height: 170px;
    border-radius: 25px;
    box-shadow: 1px 3px 5px 11px rgba(0,0,0,0.14);
    -webkit-box-shadow: 1px 3px 5px 11px rgba(0,0,0,0.14);
    -moz-box-shadow: 1px 3px 5px 11px rgba(0,0,0,0.14);
    margin-top: 20px;
    margin-left: 30px;
    padding: 10px;
}
.shareWrapper{
    padding: 10px;
}
.shareTop{
    display: flex;
    align-items: center;
}
.shareImg{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 20px;
}
.shareInput{
    border: none;
    width: 80%;
}
.shareInput:focus{
    outline: none;
}
.shareHr{
    margin: 20px;
}
.shareBottom{
    display: flex;
    align-items: center;
    justify-content:  space-between;
}
.shareOptions{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.shareoption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareIcon{
    font-style: 18px;
    margin-right: 3px;
}

.shareButton{
    border: none;
    padding: 7px;
    width: 75px;
    border-radius: 10px;
    background-color: green;
    font-weight: 400;
    margin-right: 25px;
    cursor: pointer;
    color: white;
}